@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #vision,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #header {
    width: 100%;
    overflow-x: hidden;
  }

  #portfolio {
    width: 110%;
  }
}
